@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #111111;
  background-size: cover;
  min-height: 100vh;
}
.header {
  background-color: #000000;
  text-align: center;
  padding: 20px;

}
.header a {
  color: #ffffff;
  font: 400 1.5rem/1.5 "Poppins", sans-serif;
}
.container-bg {
  background-color: #d1d1d1;
  width: 500px;
  border-radius: 10px;
  padding: 20px;
  margin: 40px auto; /* top lafet-rigth botton*/
}
.input-task {
  border: none;
  border-radius: 5px;
  width: 300px;
  height: 40px;
  padding-left: 10px;
  font-size: 15px;
}
.button-add-task {
  border: none;
  border-radius: 5px;
  height: 40px;
  background-color: #176585;
  color: #ffffff;
  font-size: 17px;
  padding: 0 15px; /* 0 = top-botton 15px = left-right*/
  float: right;
  cursor: pointer;
  font-weight: 700;
}
.button-add-task:hover {
  opacity: 0.8;
}
.button-add-task:active {
  opacity: 0.6;
}
.container-tesk {
  background-color: #d1d1d1;
  border-radius: 10px;
  padding: 20px;
  margin: 40px auto 0; /* top lafet-rigth botton*/
}
.task {
  background-color: #f2f2f2;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2); /*colocaum sombrado*/
  min-height: 50px;
  height: 100%;
  display: flex;
  align-items: center; /*alinha ao centro na horizontal*/
  justify-content: space-between; /*espacamento entre os icones*/
  padding: 0 15px;
  border-radius: 5px;
  margin-bottom: 20px; /*distancia as li*/
  cursor: pointer;
}
.list-tasks p {
  color: rebeccapurple;
  max-width: 300px;
  word-wrap: break-word;
}
.done {
  background-color: #8fac55;
}
.done p {
  text-decoration: line-through;
}
